<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>Controller.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>Crud_product.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListproductServlet</servlet-name>
        <servlet-class>Crud_product.ListproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailproductServlet</servlet-name>
        <servlet-class>Crud_product.DetailproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateproductServlet</servlet-name>
        <servlet-class>Crud_product.UpdateproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddproductServlet</servlet-name>
        <servlet-class>Crud_product.AddproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteproductServlet</servlet-name>
        <servlet-class>Controller.DeleteproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashbsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListproductServlet</servlet-name>
        <url-pattern>/lps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailproductServlet</servlet-name>
        <url-pattern>/dps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateproductServlet</servlet-name>
        <url-pattern>/udps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddproductServlet</servlet-name>
        <url-pattern>/adps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteproductServlet</servlet-name>
        <url-pattern>/deletepro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
