body{
    background: url(../..//image/z4104381796594_3cddd6e7bec7db4e88929d572dc2ab07.jpg);
    background-size: cover;
    background-position-y: -120px;
    font-family: "Inter", sans-serif;
    
    
}

.contrainer{
    width: 354.4px;
    height: 250px;
    /* background: green; */
    border-radius: 3px;
    padding: 20px;
    margin: 15% auto 0;
    box-shadow: 10px 10px saddlebrown;
    border: 1px solid;
    
}

h1 {
    text-align: center;

}



button {

    background-color: #CC6600;
    color: #fff;
    border: none;
    width: 30%;
    padding: 15px;
    font-size: 15px;
    margin: 10px 0 0 2px;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}

